:root {
    --black-700: #000;
    --secondary: #FA8305;
    --blueGradiant: #3B2A9F;
    --box_bg: #1C140F;
    --primary-100: #5141AA;
}
/* background-color: var(--black-700); */

@font-face {
    font-family: Popins;
    src: url(../assets/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}
/* --  general css  --  */
body{
    background-color: var(--blueGradiant);
    font-family: Popins;
}

body a{
    color: white;
    text-decoration: none;
}

body ul li{
    list-style: none;
    padding: 0;
}

.trendingGames{
    font-family: Rubik;
}

.projectSeeAll{
    font-family: Rubik;
}

.loopInput input{
    font-family: Popins;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
}

.flowting > div{
    float: left;
    margin: 0 6.6666%;
    box-sizing: border-box;
}

.flowting div:first-child{
    margin-left: 0;
}

.flowting div:last-child{
    margin-right: 0;
}

/*  --  my fake custoum BootStrap  --  */

.bg-orange{
    background-color: #FA8305;
}

.bg-purple{
    background-color: #5141AA;
}

.bg-brown{
    background-color: #1C140F;
}

.text-orange{
    color: #FA8305;
}

.bg-black{
    background-color: #000;
}

.text-black{
    color: #000;
}

.w-15{
    width: 15%;
}

/* --  ((@media screen)) for differents tools  --  */

/* mobile */
@media screen  and (max-width: 768px){
    /* custoum BootStrap in xs(mobile) */
    .text-xs-center{
        text-align: center;
    }
    .container-xs-fluid{
        padding: 0 0;
    }
    /* other css */
    .proved{
        text-align: center;
    }

    .trendingGames{
        margin-top: 10vh;
    }

    .trendingGames-imgDivs{
        height: 30vh;
    }

    .trendingGames-allImgDivs{
        padding:0 10%;
    }

    .spiderMan{
        height: 25vh;
    }

    .recentProjects{
        margin-top: 20%;
    }

    .projectImgDivs{
        height: 40vh;
    }

    .projectSeeAll{
        margin-top: 12.5%;
    }

    .lorem_txt{
        margin-top: 7.5%;
    }

    .siteFooter{
        margin-top: 8.5vh;
    }

}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 992px){
    .proved{
        text-align: center;
        margin-top: 5vh;
    }

    .trendingGames{
        margin-top: 15vh;
    }

    .trendingGames-imgDivs{
        height: 35vh;
    }

    .spiderMan{
        height: 40vh;
    }

    .recentProjects{
        margin-top: 15%;
    }

    .projectImgDivs{
        height: 23vh;
    }

    .projectSeeAll{
        margin-top: 9.5%;
    }

    .lorem_txt{
        margin-top: 6%;
    }

    .siteFooter{
        margin-top: 10vh;
    }
}
/* pc */
@media screen  and (min-width: 992px){
    .proved{
        order: 0;
    }

    .provedImg{
        order: 1;
        height: 85vh;
    }

    .trendingGames{
        margin-top: 20vh;
    }

    .trendingGames-imgDivs{
        height: 40vh;
    }

    .spiderMan{
        height: 70vh;
    }

    .recentProjects{
        margin-top: 12.5%;
    }

    .projectImgDivs{
        height: 35vh;
    }

    .projectSeeAll{
        margin-top: 8.5%;
    }

    .lorem_txt{
        margin-top: 7%;
    }

    .siteFooter{
        margin-top: 17.5vh;
    }
}
